/* 초기화 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}

/* 헤더 */
.header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(256, 256, 256, 0);
  border-bottom: 1px solid #cecece;
  z-index: 100;
  transition: all 0.3s;
}
/* .header:hover {
  background-color: rgba(256, 256, 256, 100);
}
.header:hover .gnb a {
  color: #000;
} */
.header .gnb {
  display: flex;
  align-items: center;
}
.header .search {
  margin-right: 119px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: rgba(256, 256, 256, 0.3);
  padding: 14px 20px;
}
.header .search input {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  width: 414px;
}
.header .search input::placeholder {
  color: #fff;
  font-weight: 500;
}
.header .search i {
  color: #fff;
  font-size: 20px;
}
.header .gnb > a {
  display: block;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.header .gnb .logo {
  cursor: pointer;
  width: 40px;
  height: 24px;
  margin-left: 115px;
  margin-right: 15px;
  z-index: 99;
}
.header .gnb .logo img {
  width: 100%;
  height: 100%;
  filter: saturate(0%) brightness(1000%);
}
/* 콘테이너 */
.container {
  width: 1242px;
  padding: 0 20px;
  margin: 0 auto;
}
